{% extends 'blog/base.html' %}
{% load static %}
{% block content %}



<div class="col-sm-10 text-center">
    <h3 class="text-white  text-center" style="margin-top: 80px;" >Contact Us </h3>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">User Name</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Aapka Shubh Naam" >
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label" >Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Aapka Shubh E-Mail Address">
        </div>
        <!-- <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div> -->
        <div class="col-12">
          <label for="message" class="form-label">Your Words For Us</label>
          <!-- <input type="text-area" class="form-control" id="inputAddress" > -->
          <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
        </div>
        <!-- <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div> -->
        <!-- <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div> -->
        <!-- <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div> -->
        <!-- <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip"> -->
        <!-- </div> -->
        <!-- <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
</div>

























{% endblock content %}