{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div class="col-sm-10">
    <h3 class="text-white my-5" > Dashboard /Update Post</h3>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for fm in Form %}
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">{{fm.label_tag}} </label>
            <div class="col-sm-10">{{fm}} </div></div>
                          <p style="color: red;" >  {{fm.errors | striptags}} </p> 
        
        {% endfor %}
        <input type="submit" value="UPDATE" class="btn btn-dark form-control"/> <br>
    </form>
</div>
{% endblock content %}